* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: black;
  text-decoration: none;
}
html,
body {
  margin: 0px;
  padding: 0px;
  position: relative;
  height: 100%;
  color: #92a5b9;
}

.fp-viewing-1 {
  border: 0 0 0 0;
}

h1 {
  color: #2f89ce;
}

p {
  display: block;
}

/*First content box */
.about {
  position: relative;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 10px;
  height: auto;
}

.point {
  color: #2f89ce;
}

/* Background styling */
.section {
  text-align: center;
  padding: 0;
}
#section0,
#section1,
#section2,
#section20,
#section3,
#slide1,
#slide2 {
  background-size: cover;
  background-color: #F6F7F9;
  padding: 0 0 0 0;
  background-position: center;
  display: block;

  /* background-attachment: fixed; */
}
#section0 {
  /* background-image: url(img/bag.jpg); */
  padding-top: 5%;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
#section20 {
  padding-top: 2%;
  height: auto;
  margin-bottom: 2.5%;
}
#section0 h1 {
  position: relative;
}
#section1 {
  background-color: rgba(241, 241, 241, 1);
  padding:  0;
  width: 100%;
  margin-top: 5%;
}
#section2 {
  padding: 0 0 0 0;
  width: 100%;
  scroll-margin-top: 200px;
  padding: 0 25% 0 25%;
}
#section25{
  display: none
}

/* #section3{
  background-image: url(bandw.jpg);blurred.jpg
  padding: 0 0 0 0;
} */

/* PRODUCT PAGES */

.thumbs li img {
  width: 100%;
  min-height: 65px;
}
#format {
  margin-left: 30px;
}
.pands {
  border: 1px solid #f6f7f9;
  background-color: #f6f7f9;
}
/* Form */

.formbox {
  margin-top: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.indexForm {
  width: 100%;
  /* padding: 15%; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.indexForm label input {
  width: 250px;
  color: black;
  border-radius: 4px;
}

.quickQuoteForm {
  width: 100%;
  height: 250px;
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
}
.form-group {
  padding: 0px;
  width: 100%;
}
.form-control {
  height: 30px;
  width: 100%;
  border-radius: 5px;
}
textarea {
  margin: 8px;
  height: 150px;
  width: 250px;
  border-radius: 5px;
  color: #000;
}
.button {
  height: 50px;
  width: 170px;
  border-radius: 25px;
  text-transform: capitalize;
  background-color: #2f89ce;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.form-container{
  padding-left: 25%;
  padding-right: 25%;

}

#container{
  position: relative;
  text-align: center;
  color: white;
  margin-top: 5%;
  background-color: #F6F7F9;
}

.first-nav{
  background-color: #44A4D9;
}

#footercontainer {
  text-align: left;
  padding-left: 5%;
}

/*Responsive*/

@media screen and (max-width: 1200px) {
  .box {
    width: 90%;
    margin: 30px;
    display: flex;
    justify-content: center;
  }
  .forminfo {
    width: 80%;
    height: 450px;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25%;
  }
}
@media screen and (max-width: 1100px) {
  .contentbox {
    width: 35%;
  }
}
@media screen and (max-width: 992px) {
  #section00{
    display: none;
  }

  #section25{
    display: block;
    /* position: absolute; */
    /* padding: 0 25% 0 25%; */
  }

  .about-mobile{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 500px;
    margin: 0px;
    margin-top: 0px;
    padding: 0px;
  }

  .nav-link {
    background-color: white;
  }
  .about {
    padding: 0px 0px 0px 0px;
  }
  .contentbox {
    width: 100%;
    height: 500px;
    margin: 0px;
    margin-top: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 25%;
  }

  .box {
    width: 90%;
    margin: 30px;
    padding: 0px;
    display: flex;
    justify-content: center;
  }
  .forminfo {
    width: 100%;
    height: 500px;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    margin-top: 25%;
  }
  .quickQuoteForm {
    height: 300px;
  }
  .form-control {
    margin-bottom: 10px;
  }

  .mobile-logo{
    width: 250px;
    height: auto;
    position: relative;
    top: 75px;
    z-index: 2;
  }
  #formatHeader{
    font-size:1.3em;
    margin-top: 10%;
    margin-bottom: 1%;
  }
  #formatfont{
    padding: 0 10% 0 10%;
    font-size:1.3em;
  }
  #section1{
  widows: 50%;
}
#banner{
  visibility: hidden;
}

#section2{
  padding: 0 5% 0 5%;
}

}
@media screen and (max-width: 601px) {
  #navbar {
    position: absolute;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    border-radius: 5px;
  }
  #section0 {
    /* background-image: linear-gradient(
        rgba(191, 191, 191, 0.8),
        rgba(191, 191, 191, 0.8)
      ),
      url(img/window.jpg); */
    width: 100%;
    height: 60vh;
  }
  .contentbox {
    width: 100%;
    /* font-size: 10px; */
  }
  .box {
    width: 80%;
    margin: 30px;
    padding: 0px;
  }
  .forminfo {
    width: 100%;
    height: 500px;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    margin-top: 25%;
  }
  .quickQuoteForm {
    height: 400px;
  }
  #section1{
    margin-top: 50%;
}
}
@media screen and (max-width:767px){
  #formatHeader{
    font-size:1.1em;
    margin-top: 20%;
    margin-bottom: 1%;
  }
   #formatfont{
    padding: 5%;
    font-size: 1.1em;
  }

}




